# Ignore executables
*.out

# Ignore object files
*.o

# Ignore shared object files (shared library)
*.so

# Ignore tags (generated symbols)
.tags

*.gch

# Ignore python auxiliary files
__pycache__

# Ignore generated data file
data.csv
